{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "/identidade/css/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{% static "/identidade/purecss/tables-min.css"%}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                DASD
            </div>
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="inputNome">Nome</label>
                        
                        <input name="nome"  type="text" class="form-control" id="inputNome" aria-describedby="nomeAjuda" placeholder="Nome">
                        <small id="nomeAjuda" class="form-text text-muted">Nome do usuario</small>
                    </div>

                    <div class="form-group">
                        <label for="inputNome">Nome da Mãe</label>
                        <input name="nome_mae" name="nome_mae"  type="text" class="form-control" id="inputNome" aria-describedby="nomeAjuda" placeholder="Nome da Mãe">
                        <small id="nomeAjuda" class="form-text text-muted">Nome da mãe do usuario</small>
                    </div>

                    <div class="form-group">
                        <label for="inputNome">Nome do Pai</label>
                        <input name="nome_pai" name="nome_mae" name="nome_mae"  type="text" class="form-control" id="inputNome" aria-describedby="nomeAjuda" placeholder="Nome do Pai">
                        <small id="nomeAjuda" class="form-text text-muted">Nome do pai do usuario</small>
                    </div>

                    <div class="form-group">
                        <label for="inputNome">Sexo</label>
                        <select name="sexo" class="form-control">
                            <option value="">---</option>
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                        
                        <small id="nomeAjuda" class="form-text text-muted">Sexo do Usuario</small>
                    </div>


                    <div class="form-group">
                        <label for="inputNome">Etnia</label>
                        <select name="etnia_id" class="form-control">
                            <option value="">-----</option>
                            {% for etnia in etnias %}
                            <option value="{{etnia.id}}">
                                {{etnia}}
                            </option>
                            {% endfor %}
                        </select>
                        
                        <small id="nomeAjuda" class="form-text text-muted">Sexo do Usuario</small>
                    </div>


                    
                    


                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url "identidade:usuario"%}" class="btn btn-danger">Limpar</a>
                </form>
            </div>

            <div class="row">
                <table class="pure-table pure-table-striped col-lg-12">
                    <tr>
                        <td>#</td>
                        <td>NOME</td>
                        <td>NOME DA MÃE</td>
                        <td>DATA DE NASCIMENTO</td>
                        <td>SEXO</td>
                        <td>ETNIA</td>
                    </tr>
                    {% for usuario in usuarios %}
                    <tr>
                        <td><a href="/admin/identidade/usuario/{{usuario.id}}/change/" target="_blank">{{usuario.id}}</a> </td>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.nome_mae}}</td>
                        <td>{{usuario.data_nascimento}}</td>
                        <td>{{usuario.sexo}}</td>
                        <td>
                            {% for etnia in usuario.etniausuario_set.all %}
                            
                            {{etnia.etnia}}{% if not forloop.last %},{% endif %}

                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>

        </div>
            
        

    </body>
</html>